<h1>タスク一覧</h1>
<br>
  <h3>検索</h3>
  <%= form_with(url: tasks_path, method: :get, scope: :task ,local: true) do |form| %>
    <%= form.label :"タイトル" %>
    <%= form.text_field :title %>
    <%= form.label :"ステータス" %>
    <%= form.select :completed, Task.completeds.keys.to_a %>
    <%= form.label :"ラベル" %>
    <%= form.select("label_id", Label.pluck(:name, :id), { include_blank: true }) %>
    <%= form.submit 'Search' %>
  <% end %>
<br>
<%= link_to '新しくタスクを書く', new_task_path , class:'btn btn-info'%> 
<table class = 'tbody'>
  <tr>
    <th>タイトル</th>
    <th>詳細</th>
    <th>作成日時</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先度</th>
    <th>ラベル</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class= 'task_list'><%= task.title %></td>
    <td><%= task.details %></td>
    <td><%= task.created_at %></td>
    <td id='time_limit'><%= task.time_limit %></td>
    <td><%= task.completed %></td>
    <td id="priority"><%= task.priority %></td>
    <td>
      <% task.labels.each do |label| %>
        <%= label.name %>
      <% end %>
    </td>
    <td><%= link_to "確認する", task_path(task.id), class:'btn btn-success' %></td>
    <td><%= link_to "編集する", edit_task_path(task.id), class:'btn btn-success'%></td>
    <td><%= link_to "削除する", task_path(task.id),method: :delete ,data: { confirm: '本当に削除していいですか？' }, class:'btn btn-success' %></td>
  </tr>
<% end %>
</table>
<%= paginate @tasks %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true"), class:'btn btn-info' %>
<%= link_to "優先順位でソートする", tasks_path(sort_priority: "true"), class:'btn btn-info'%>
